.fixed-container {
  bottom: 0;
  right: 0;
  position: fixed;
  width: 100%;
  z-index: 3;
  transform: translateZ(0);
}

html {
  &.menu-opened {
    body {
      overflow: hidden;
      position: relative;
    }
  }
}


// GENERAL CONTAINER
header, section, footer {
  &>.container {
    padding: 1em;
  }
}

.container, .cookies-container {
  max-width: 1200px;
  margin: 0 auto;
}

// TITLES
.title-container {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}

// CARDS
.card .card-container {
  margin: 0 auto;
  max-width: 240px;
  height: 100%;
}

// BUTTONS
.button-container {
  display: flex;
  gap: .8rem;
  @include flex-properties(center, center);
  &.center {
    margin: 0 auto;
  }

  @media screen and (min-width: $xsm){
    max-width: 80%;
  }

  @media screen and (min-width: $sm){
    max-width: 60%;
  }
}