
// Screen Readers only
.sr-only {
  position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;

  &.ontabfocus {    
    &:focus {
      	top:5px;
        left: unset;
        z-index: 5;
        width: unset;
        height: unset;
        padding: 1em 2em;
    }
  }
}

#skip-link {
  color: $white;
}

.upper,
.upper-child > * {
	text-transform: uppercase;
}

.text-align-center {
	text-align: center;
}

.text-align-right {
  text-align: right;
}


// layout
.block {
	display: block;
}

.center-by-margin {
	margin: 0 auto;
}

.flex {
  &:not(.f-desktop){
    display: flex;
  }
	

  &.flex-mobile {
    @media screen and (min-width: $md){
      display: block;
    }
  }

  &.f-desktop {
    display: block;
    @media screen and (min-width: $md){
      display: flex;
    }
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.nowrap {
    flex-wrap: nowrap;
  }

  &.align-items-center {
    align-items: center;
  }

  &.align-content-start {
    align-content: flex-start;
  }

  &.justify-content-f-start {
    justify-content: flex-start;
  }

  &.justify-content-center {
    justify-content: center;
  }

  &.justify-content-s-between {
    justify-content: space-between;
  }

  &.justify-content-f-end {
    justify-content: flex-end;
  }
}

figure {
  margin: 0;
  padding: 0;

  img {
    width: 100%;
    max-width: 100%;
  }
}

