// Fonts / Typography

// return font-size to mobile and md to up
@mixin font-size($fz-mobile, $fz-desktop){
  font-size: $fz-mobile;
  @media screen and (min-width: $md){
    font-size: $fz-desktop;
  }
}

// LAYOUT
// common flex
@mixin flex-properties($horizontal-direction, $vertical-direction){
  flex-wrap: wrap;
  justify-content: $horizontal-direction;
  align-content: $vertical-direction;
}

// always justified items space-between
@mixin container-childs-between {
  display: flex;
  justify-content: space-between;
}

// UTILS
@mixin position-visible($z-index) {
  position: relative;
  z-index: $z-index;
}


@mixin center-childs{
  display: flex;
  justify-content: center;
  align-items: center;
}


// media queries
@mixin vertical-center($justify-content) {
  display: flex;
  justify-content: $justify-content;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
