h1, h2, h3, h4, h5, h6,
p, li, a, button {
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

html {
  &.wf-active {
    .main-title {
      font-family: $secondaryFont;
    }
  }
}

